.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: auto;
  height: auto;
}

.row {
  display: flex;
  justify-content: space-around;
}

.game-canvas {
  display: block;
}

canvas {
  border: 1px solid black;
}
